{% extends 'admin_nav_bar.html' %}
{% load static %}
{% block title %}
    Strona administratora
{% endblock %}

{% block data_content %}
        <form method="POST" class="d-flex flex-column m-1 p-5 align-items-center" enctype="multipart/form-data">{% csrf_token %}
            <div class="d-flex flex-column" style="width: 500px;">
                <div class="d-flex flex-column border border-dark rounded p-3 mt-2">
                    <div class="container d-flex flex-row p-2 justify-content-center">
                        <button class="btn btn-light" type="submit" name="create_csv_file" formaction="{% url 'create_csv_file' %}" formmethod="POST">
                            Eksportować do csv pliku
                        </button>
                    </div>
                </div>
            </div>
                <ul class="list-group mt-3" style="width: 500px;">
                    <li class="list-group-item text-center p-2" style="background-color: #D3D3D3;">
                        <strong>Dane szkoły</strong>
                        <input type="checkbox" class="mt-1" style="float: right;" data-action="select">
                    </li>
                    {% for high_school_field in high_school_fields %}
                        <li class="list-group-item d-flex flex-row justify-content-between p-2">
                            <strong>{{ high_school_field.verbose_name }}</strong>
                            <input type="checkbox" name="{{ high_school_field.name }}" value="{{ high_school_field.verbose_name }}">
                        </li>
                    {% endfor %}
                </ul>
                <ul class="list-group mt-3" style="width: 500px;">
                    <li class="list-group-item text-center p-2" style="background-color: #D3D3D3;">
                        <strong>Dane opiekuna</strong>
                        <input type="checkbox" class="mt-1" style="float: right;" data-action="select">
                    </li>
                    {% for guardian_field in guardian_fields %}
                        <li class="list-group-item d-flex flex-row justify-content-between p-2">
                            <strong>{{ guardian_field.verbose_name }}</strong>
                            <input type="checkbox" name="{{ guardian_field.name }}" value="{{ guardian_field.verbose_name }}">
                        </li>
                    {% endfor %}
                </ul>
                <ul class="list-group mt-3" style="width: 500px;">
                    <li class="list-group-item text-center p-2 " style="background-color: #D3D3D3;">
                        <strong>Dane uczęstnika</strong>
                        <input type="checkbox" class="mt-1" style="float: right;" data-action="select">
                    </li>
                    {% for team_member_field in team_member_fields %}
                        <li class="list-group-item d-flex flex-row justify-content-between p-2">
                            <strong>{{ team_member_field.verbose_name }}</strong>
                            <input type="checkbox" name="{{ team_member_field.name }}" value="{{ team_member_field.verbose_name }}">
                        </li>
                    {% endfor %}
                </ul>
        </form>
        <script src="{% static 'js/select_all_handler.js' %}"></script>
{% endblock %}
