{% extends 'admin_nav_bar.html' %}
{% load static %}

{% block data_content %}
    <div class="container d-flex flex-column align-items-center justify-content-center text-success">
        {% if messages %}
             {% for message in messages %}
                 <div class="text-center alert alert-{{ message.tags }} mt-4">
                     {{ message|safe }}
                 </div>
             {% endfor %}
        {% endif %}
    </div>

    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 850px;">
        <form class="border rounded p-5" style="width: 350px;" action="{% url 'open_registration' %}" method="POST">{% csrf_token %}
            {% for field in form %}
                <div class="form-group m-2 p-2">
                    {{ field.label_tag }}
                    {{ field }}
                    <div></div>
                </div>
            {% endfor %}
            <hr>
            <div class="container d-flex flex-row align-items-center justify-content-center mt-2">
                <button type="submit" class="btn btn-success" id="submit_button">
                    Wysłać
                </button>
            </div>
        </form>
        <script src="{% static 'js/TimeValidator.js' %}"></script>
        <script src="{% static 'js/FilterOptions.js' %}"></script>
        <script src="{% static 'js/FilterDates.js' %}"></script>
        <script src="{% static 'js/FilterMonth.js' %}"></script>
        <script src="{% static 'js/TimeRangeValidator.js' %}"></script>
    </div>
{% endblock %}