{% extends 'base.html' %}
{% load static %}

{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pdf_output.css' %}">
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead">
            <tr>
                {% for header in headers %}
                    <th>
                        {{ header }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for data_row in data %}
                <tr>
                    {% for i in data_row %}
                        <td>
                            {{ i }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}