{% extends 'base_object_detail_template.html' %}


{% block page_header %}
    Dane szkoły {{ school.full_name }}
{% endblock %}

{% block main_content %}
    <div class="m-auto mt-5" style="width: 650px;">
        <div class="d-flex flex-row justify-content-between border rounded p-3">
            <div class="text-center"><strong>Pełna nazwa</strong></div>
            <div class="text-center">{{ school.full_name }}</div>
        </div>
        <div class="d-flex flex-row justify-content-between border rounded p-3 mt-2">
            <div class="text-center"><strong>Nazwa w skrócie</strong></div>
            <div class="text-center">{{ school.short_name }}</div>
        </div>
        <div class="d-flex flex-row justify-content-between border rounded p-3 mt-2">
            <div class="text-center"><strong>Miasto</strong></div>
            <div class="text-center">{{ school.city }}</div>
        </div>
        <div class="d-flex flex-row justify-content-between border rounded p-3 mt-2">
            <div class="text-center"><strong>Kod pocztowy</strong></div>
            <div class="text-center">{{ school.post_code }}</div>
        </div>
        <div class="d-flex flex-row justify-content-between border rounded p-3 mt-2">
            <div class="text-center"><strong>Adres</strong></div>
            <div class="text-center">{{ school.street }}</div>
        </div>
        <div class="d-flex flex-row justify-content-between border rounded p-3 mt-2">
            <div class="text-center"><strong>Telefon komórkowy</strong></div>
            <div class="text-center">{{ school.school_mobile_phone }}</div>
        </div>
        <div class="d-flex flex-row justify-content-between border rounded p-3 mt-2">
            <div class="text-center"><strong>E-mail</strong></div>
            <div class="text-center">{{ school.school_email }}</div>
        </div>
    </div>
{% endblock %}


{% block additional_info_header %}Przedstawiciele szkoły{% endblock %}
{% block additional_information %}
    <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-between p-3">
            <div class="text-center p-2"><strong>Opiekun</strong></div>
            <div class="text-center p-2"><a href="{% url 'guardian_detail' school_team.guardian.pk %}">{{ school_team.guardian }}</a></div>
        </div>
        <div class="d-flex flex-row justify-content-between p-3">
            <div class="text-center p-2"><strong>Pierwszy uczęstnik</strong></div>
            <div class="text-center p-2"><a href="{% url 'team_member_detail' school_team.first_member.pk %}">{{ school_team.first_member }}</a></div>
        </div>
        {% if school_team.second_member %}
            <div class="d-flex flex-row justify-content-between p-3">
                <div class="text-center p-2"><strong>Pierwszy uczęstnik</strong></div>
                <div class="text-center p-2"><a href="{% url 'team_member_detail' school_team.second_member.pk %}">{{ school_team.second_member }}</a></div>
            </div>
        {% endif %}
    </div>
{% endblock %}
