{% extends 'base_object_detail_template.html' %}

{% block page_header %}
    Dane uczęstnika {{ team_member }}
{% endblock %}

{% block main_content %}
    <div class="m-auto mt-5" style="width: 650px;">
        <div class="d-flex flex-row justify-content-between border rounded p-3">
            <div class="text-center"><strong>Imię</strong></div>
            <div class="text-center">{{ team_member.member_name }}</div>
        </div>
        <div class="d-flex flex-row justify-content-between border rounded p-3 mt-2">
            <div class="text-center"><strong>Nazwisko</strong></div>
            <div class="text-center">{{ team_member.member_surname}}</div>
        </div>
        <div class="d-flex flex-row justify-content-between border rounded p-3 mt-2">
            <div class="text-center"><strong>Klauzula</strong></div>
            <div class="text-center">{{ team_member.member_clause }}</div>
        </div>
    </div>
{% endblock %}


{% block additional_information %}
    <div class="container d-flex flex-column align-items-center mt-5 border rounded p-3" style="width: 650px;">
        <div class="d-flex flex-row align-items-center justify-content-center mt-2">
            <h4>Pozostałe dane ucznia</h4>
        </div>
        <hr class="container">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row justify-content-between p-3">
                    <div class="text-center p-2"><strong>Szkoła</strong></div>
                    <div class="text-center p-2"><a href="{% url 'school_detail' team_member_school_team.high_school.pk %}">{{ team_member_school_team.high_school }}</a></div>
                </div>
                <div class="d-flex flex-row justify-content-between p-3">
                    <div class="text-center p-2"><strong>Opiekun</strong></div>
                    <div class="text-center p-2"><a href="{% url 'guardian_detail' team_member_school_team.guardian.pk %}">{{ team_member_school_team.guardian }}</a></div>
                </div>
                {% if team_member == team_member_school_team.first_member %}
                    {% if team_member_school_team.second_member %}
                        <div class="d-flex flex-row justify-content-between p-3">
                            <div class="text-center p-2"><strong>Drugi członek drużyny</strong></div>
                            <div class="text-center p-2"><a href="{% url 'guardian_detail' team_member_school_team.guardian.pk %}">{{ team_member_school_team.second_member }}</a></div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="d-flex flex-row justify-content-between p-3">
                        <div class="text-center p-2"><strong>Drugi członek drużyny</strong></div>
                        <div class="text-center p-2"><a href="{% url 'guardian_detail' team_member_school_team.guardian.pk %}">{{ team_member_school_team.first_member }}</a></div>
                    </div>
                {% endif %}
            </div>
    </div>
{% endblock %}