{% extends 'base.html' %}
{% load static %}

{% block content %}
<form class="" action="" method="POST">{% csrf_token %}
    <div class="container d-flex flex-column m-auto" id="test_information">
        <h4 class="text-center m-3 p-3">Informacja dotycząca testu</h4>
        <form class="container mt-3 border border-rounded p-3" style="width: 500px;">
            {% for field in create_test_form %}
                <div class="form-group m-1 p-2">
                    <strong>{{ field.label }}</strong>
                    {{ field }}
                </div>
            {% endfor %}
        </form>
    </div>

    <div class="container m-auto d-flex flex-column align-items-center justify-content-center" style="width: 500px;">
        <button class="btn btn-primary mt-3" id="next">
            Dalej
        </button>
    </div>

    <hr class="container mt-3 border-dark" style="width: 500px;">
    <div class="container d-flex flex-column m-auto d-none" id="questions">
        <h4 class="container mt-3 d-flex flex-row align-items-center justify-content-center" style="width: 500px;">Pytanie</h4>
        <form class="container m-auto" style="width: 500px;" id="create_question">
            {% for field in create_question_form %}
                <div class="form-group m-1 p-2">
                    <strong>{{ field.label }}</strong>
                    {{ field }}
                </div>
            {% endfor %}
        </form>

        <hr class="container" style="width: 500px;">
            <div class="container mt-3 d-flex flex-row align-items-center justify-content-center" style="width: 500px;">
                <button type="button"
                        class="btn btn-success"
                        hx-get="{% url 'create_question_form' %}"
                        hx-target="#create_question"
                        hx-swap="beforeend"
                        hx-on::after-request="window.scrollTo({behavior: 'smooth', top: document.body.scrollHeight})"
                >
                    Dodać pytanie
                </button>
            </div>
    </div>
    <button class="btn btn-success" formaction="{% url 'create_test' %}" formmethod="POST" type="submit">
        Stworzyć test
    </button>
</form>
    <script src="{% static 'js/removeLabel.js' %}"></script>
    <script src="{% static 'js/nextForm.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
{% endblock %}
