{% load static %}

{% include 'components/create_test_form.html' %}
<div class="container m-auto d-flex flex-column align-items-center justify-content-center" style="width: 500px;">
    <button class="btn btn-primary mt-3">
        Dalej
    </button>
</div>
<!--<div class="container m-auto d-flex flex-row align-items-center justify-content-center" style="width: 500px;">-->
<!--    <button type="button"-->
<!--            class="btn btn-success"-->
<!--            hx-get="{% url 'create_question_form' %}"-->
<!--            hx-target="#create_question"-->
<!--            hx-swap="beforeend"-->
<!--    >-->
<!--        Dodać pytanie-->
<!--    </button>-->
<!--</div>-->
<script src="{% static 'js/removeLabel.js' %}"></script>
<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
