{% extends 'base.html' %}
{% load static %}
{% load random_order %}

{% block content %}
    <div class="d-flex flex-column align-items-between" style="background-color: whitesmoke; width: 100%; height: 150px;">
        <div class="d-flex flex-row">
             <h5 class="m-1 p-1">Czas trwania testu</h5>
            <strong class="m-1 p-1" id="duration_info">
                {{ test.test_duration }}
            </strong>
        </div>
        <div class="d-flex flex-row">
            <h5 class="m-1 p-1">Zostało się</h5>
            <strong class="m-1 p-1" id="time_remains">
                <span id="hours"></span>
                :
                <span id="minutes"></span>
                :
                <span id="seconds"></span>
            </strong>
        </div>
    </div>
    <form action="{% url 'test_detail' request.session.member_uidb64 test.test_title %}" method="POST">{% csrf_token %}
        <input type="hidden"
               name="competition_test_performer_duration_time"
               id="performer_time"
        >
        <div class="container m-auto d-flex flex-column align-items-center">
            {% for question in test_questions %}
                    <div class="card mt-3" style="width: 500px;">
                          {% if question.question_attachment %}
                                <img src="{{ question.question_attachment.url }}"
                                     class="card-img-top"
                                >
                          {% endif %}
                          <div class="card-body">
                                <h5 class="card-title">{{ question.question_content }}</h5>
                                <strong>Odpowiedzi</strong>
                                <div class="d-flex flex-column">
                                    {% for answer in question.answer_set.all|order_by:"?" %}
                                        <div class="p-1">
                                            <input type="radio" class="m-1" name="{{ question.question_content }}" value="{{ answer.answer_content }}" id="{{ answer.answer_content }}">
                                            {{ answer.answer_content }}
                                        </div>
                                    {% endfor %}
                                </div>
                          </div>
                    </div>
                    <hr class="container" style="width: 500px;">
            {% endfor %}
            <div class="container m-auto d-flex flex-column align-items-center justify-content-center p-4">
                <button type="submit" class="btn btn-success" style="width: 250px;" id="submit_button">
                    Wysłać
                </button>
            </div>
        </div>
    </form>
    <script>
        const testDuration = "{{ test.test_duration }}";
    </script>
    <script src="{% static 'js/TestTimer.js' %}"></script>
    <script src="{% static 'js/checkPageIsHidden.js' %}"></script>
    <script src="{% static 'js/addAnswerToLocalStorage.js' %}"></script>
    <script src="{% static 'js/pageAccessedByReload.js' %}"></script>
    <script src="{% static 'js/clearLocalStorage.js' %}"></script>
{% endblock %}