{% extends 'base.html' %}

{% block content %}
    <div class="container d-flex flex-column m-auto">
            <h4 class="text-center m-3 p-3">Informacja dotycząca testu</h4>
            <form class="container mt-3 border border-rounded p-3" style="width: 500px;">
                {% for field in create_test_form %}
                    <div class="form-group m-1 p-2">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endfor %}
            </form>
            <hr class="container" style="width: 500px;">
    </div>
{% endblock %}
