{% extends 'base.html' %}

{% block content %}
        <hr class="container" style="width: 500px;">
        <h4 class="container mt-3 d-flex flex-row align-items-center justify-content-center"
            style="width: 500px;" id="next_question">Pytanie</h4>
        <form class="container m-auto" style="width: 500px;" id="create_question">
            {% for field in create_question_form %}
                <div class="form-group m-1 p-2">
                    <strong>{{ field.label }}</strong>
                    {{ field }}
                </div>
            {% endfor %}
        </form>
{% endblock %}
