{% extends 'base.html' %}
{% load static %}

{% block title %}
    Formularz zgłoszeniowy
{% endblock %}

{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/invalid_div.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/success_field.css' %}">
{% endblock %}

{% block content %}
    <div class="bg-image p-3"
         style="background-image: url('https://pix8.agoda.net/hotelImages/124/1246280/1246280_16061017110043391702.jpg?ca=6&ce=1&s=1024x768'); height: 100%;">
            {% if errors %}
                <div class="container border border-dark rounded bg-light p-3 text-danger">
                    Recaptcha nie została sprawdzona.<br>
                    Proszę spróbuj ponownie.
                </div>
            {% endif %}
            <div class="container d-flex flex-row mt-3 p-3 border rounded bg-light" style="z-index: 1;">
                <img src="../../static/pictures/logo.png" height="200" width="200" class="border">
                <div class="container text-center">

                </div>
            </div>
            <div class="container border bg-light rounded p-3 mt-3">
                <form id="registration_form" action="{% url 'create_school_team' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="container d-flex flex-column">
                        <div class="text-center"><strong>Formularz szkoły</strong></div>
                        <hr>
                        {% for field in high_school_form %}
                            <div class="form-group">
                                {% if field.field.required %}
                                    {{ field.label_tag }}<i class="text-danger">*</i>
                                {% else %}
                                    {{ field.label_tag }}
                                {% endif %}
                                {{ field }}
                                <div data-invalid-div="invalid"></div>
                            </div>
                        {% endfor %}
                        <button class="btn btn-success mt-2" data-action="continue">
                            Dalej
                        </button>
                    </div>
                    <div class="container d-flex flex-column d-none">
                        <hr>
                        <div class="container d-flex flex-column">
                            <div class="text-center"><strong>Formularz opiekuna</strong></div>
                            {% for field in guardian_form %}
                                <div class="form-group">
                                    {% if field.field.required %}
                                        {{ field.label_tag }}<i class="text-danger">*</i>
                                    {% else %}
                                        {{ field.label_tag }}
                                    {% endif %}
                                    {{ field }}
                                    <div data-invalid-div="invalid"></div>
                                </div>
                            {% endfor %}
                        </div>
                         <button class="btn btn-success mt-2" data-action="continue">
                            Dalej
                         </button>
                    </div>
                    <div class="d-none">
                        <hr class="">
                        <div class="container d-flex flex-column ">
                            <div class="text-center"><strong>Formularz pierwszego członka</strong></div>
                            {% for field in team_member_form %}
                                <div class="form-group">
                                    {% if field.field.required %}
                                        {{ field.label_tag }}<i class="text-danger">*</i>
                                    {% else %}
                                        {{ field.label_tag }}
                                    {% endif %}
                                    {{ field }}
                                    <div data-invalid-div="invalid"></div>
                                </div>
                            {% endfor %}
                        </div>
                        <hr id="hr">
                        <div class="container bg-light p-3 mt-3 rounded" id="add_container">
                            <button class="btn btn-info" id="team_member" type="submit">
                                Dodać osobę do zespołu
                            </button>
                        </div>
                        <hr id="recaptcha">
                        <div id="recaptcha_form" class="">
                                {{ recaptcha_form.recaptcha.label_tag }}<i class="text-danger">*</i>
                                {{ recaptcha_form.recaptcha }}
                        </div>
                        <hr>
                        <div class="container d-flex flex-row align-items-center justify-content-center p-2 d-grid gap-2" id="button">
                            <button class="btn btn-success" id="submit_button">
                                Wysłać
                            </button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script src="{% static 'js/getCookie.js' %}"></script>
    <script src="{% static 'js/checkEmptyField.js' %}"></script>
    <script src="{% static 'js/removeTeamMember.js' %}"></script>
    <script src="{% static 'js/addTeamMember.js' %}"></script>
    <script src="{% static 'js/baseFieldValidator.js' %}"></script>
    <script src="{% static 'js/emailValidator.js' %}"></script>
    <script src="{% static 'js/postCodeValidator.js' %}"></script>
    <script src="{% static 'js/phoneNumberValidator.js' %}"></script>
    <script src="{% static  'js/inputFileValidator.js' %}"></script>
    <script src="{% static 'js/addFormObject.js' %}"></script>
    <script src="{% static 'js/checkFieldData.js' %}"></script>
{% endblock %}