{% extends 'base.html' %}
{% load static %}

{% block title %}
    Formularz zgłoszeniowy
{% endblock %}

{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/invalid_div.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/success_field.css' %}">
{% endblock %}

{% block content %}
    <div class="bg-image p-3"
         style="background-image: url('https://pix8.agoda.net/hotelImages/124/1246280/1246280_16061017110043391702.jpg?ca=6&ce=1&s=1024x768'); height: 100%;">
            <div class="container d-flex flex-row mt-3 p-3 border rounded bg-light">
                <img src="../../static/pictures/logo.png" height="200" width="200" class="border">
                <div class="container text-center">

                </div>
            </div>
            <div class="container border bg-light rounded p-3 mt-3">
                <form id="registration_form" action="{% url 'create_school_team' %}" method="POST">{% csrf_token %}
                    <div class="container d-flex flex-column">
                        <div class="text-center"><strong>High school form</strong></div>
                        <hr>
                        {% for field in high_school_form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                                <div data-invalid-div="invalid"></div>
                            </div>
                        {% endfor %}
                        <button class="btn btn-success mt-2" data-action="continue">
                            Continue
                        </button>
                    </div>
                    <hr class="d-none">
                    <div class="container d-flex flex-column d-none">
                        <div class="text-center"><strong>Guardian form</strong></div>
                        {% for field in guardian_form %}
                            <div class="form-group">
                                <label>{{ field.label_tag }}</label>
                                {{ field }}
                                <div data-invalid-div="invalid"></div>
                            </div>
                        {% endfor %}
                        <button class="btn btn-success mt-2" data-action="continue">
                            Continue
                        </button>
                    </div>
                    <hr class="d-none">
                    <div class="container d-flex flex-column d-none">
                        <div class="text-center"><strong>Team member1 form</strong></div>
                        {% for field in team_form %}
                            <div class="form-group">
                                <label>{{ field.label_tag }}</label>
                                {{ field }}
                                <div data-invalid-div="invalid"></div>
                            </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="container bg-light p-3 mt-3 rounded d-none" id="add_container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                        <button class="btn btn-info" id="team_member" type="submit">
                            Add person to the team
                        </button>
                    </div>
                    <div class="container d-flex flex-row align-items-center justify-content-center p-2 d-grid gap-2 d-none" id="button">
                        <button class="btn btn-success" id="submit_button">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script src="{% static 'js/getCookie.js' %}"></script>
    <script src="{% static 'js/check_empty_field.js' %}"></script>
    <script src="{% static 'js/check_field_data.js' %}"></script>
    <script src="{% static 'js/add_form_object.js' %}"></script>
    <script src="{% static 'js/add_team_member.js' %}"></script>
    <script src="{% static 'js/create_school_team.js' %}"></script>
{% endblock %}